@import 'theme/colors';

.inputContainer {
	margin: 0.5rem 0;
	width: 100%;

	.inputField {
		background-color: color(gray);
		border: none;
		border-radius: 1.5rem;
		box-sizing: border-box;
		color: color(white);
		font-family: 'Noyh Geometric', 'Gill Sans', 'Gill Sans MT', Calibri,
			'Trebuchet MS', sans-serif;
		font-size: 1.2rem;
		height: 4.5rem;
		padding: 1.5rem 2rem;
		width: inherit;

		&.error {
			border: 2px solid color(error);
		}

		&:focus-visible {
			outline: none;
		}
		&::placeholder {
			font-family: 'Noyh Geometric', 'Gill Sans', 'Gill Sans MT', Calibri,
				'Trebuchet MS', sans-serif;

			color: color(textLight);
			opacity: 1; /* Firefox */
		}
		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			filter: none;
		}
	}
}
