.errorMessage {
	height: 0;
	opacity: 0;
	color: #ef5350;
	text-align: left;
	font-size: 1.2rem;
	transition: opacity 0.25s, height 0.25s;

	&.active {
		height: 1.5rem;
		opacity: 1;
		margin: 1rem 0 0 2rem;
	}
}
