.errorMessage {
	height: 0;
	opacity: 0;
	color: #ef5350;
	text-align: left;
	margin: 1rem 0 1rem 2rem;
	font-size: 1.2rem;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;

	&.active {
		height: auto;
		opacity: 1;
	}
}
