@import 'theme/colors';
@import 'theme/fonts';

.infoContainer {
	align-items: center;
	background-blend-mode: overlay;
	background-image: url('../../../assets/images/login-bg.jpg'),
		linear-gradient(rgba(color(black), 0.4), rgba(color(black), 1));
	background-size: cover;
	color: color(white);

	font-family: font(primary);

	overflow: hidden;
	padding: 2rem;
	position: relative;

	@media (max-width: 800px) {
		display: none;
	}

	.carouselContainer {
		margin-top: 25rem;
		width: 100%;

		.logo {
			margin: 1rem auto;
			height: 3rem;
			width: 10rem;
		}

		.carousel {
			div {
				//TODO change to className
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				cursor: default;
				user-select: none;

				p {
					font-size: size(medium);
					line-height: 1.5rem;
					max-width: 50rem;
					text-align: center;
				}
			}

			:global(.carousel-slider) {
				position: relative;
				display: flex;

				:global(.control-dots) {
					order: 2;
					position: relative;
					display: flex;
					justify-content: center;

					.dot {
						margin: 0 0.4rem;
						background: color(white);
						border-radius: 50%;
						padding: 0.4rem;
						transition: all 0.25s;
						cursor: pointer;

						&.selected {
							background: color(accent);
							padding: 0.4rem 0.8rem;
							border-radius: 1rem;
						}
					}
				}
			}
		}
	}
}
