@import 'theme/colors';

.infoContainer {
	@media (max-width: 800px) {
		display: none;
	}
	color: white;
	// background-color: #181a20;
	// background: linear-gradient(130.33deg, #2b395b 0%, #212040 66.15%);
	background-image: url('../../assets/images/login-bg.jpg'),
		linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
	background-size: cover;
	background-blend-mode: overlay;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 2rem;

	.carouselContainer {
		width: 100%;

		margin-bottom: 4rem;

		p {
			text-align: center;
			font-size: 1.2rem;
			line-height: 1.5rem;
			max-width: 60rem;
		}

		.dot {
			li > div:before {
				height: 0.6rem;
				width: 0.6rem;
				background: white;
			}
		}
	}
}
