@import 'theme/colors';

.infoContainer {
	@media (max-width: 800px) {
		display: none;
	}
	color: white;
	background-image: url('../../assets/images/login-bg.jpg'),
		linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
	background-size: cover;
	background-blend-mode: overlay;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;

	.carouselContainer {
		width: 100%;
		margin-top: 25rem;

		.logoWrapper {
			.logo {
				width: 10rem;
				height: 3rem;
				cursor: pointer;
				margin: 1rem auto;
			}
		}

		p {
			text-align: center;
			font-size: 1.2rem;
			line-height: 1.5rem;
			max-width: 50rem;
		}

		.dot {
			li > div {
				opacity: 1;
				padding: 0.5rem;
				&:before {
					content: '';
					padding: 0.25rem;
					border-radius: 50%;
					background: color(white);
					transition: all 0.25s;
				}

				&[class*='selected'] {
					&:before {
						padding: 0.25rem 0.5rem;
						border-radius: 1rem;
						background: color(accent);
					}
				}
			}
		}
	}
}
